@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Roboto:wght@400;700&family=Schoolbell&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

body {
  overflow-x: clip;
}

.bg-program {
  background-image: url("assets/background/bg_3.png");
}

.bg-organisation {
  background-image: url("assets/background/bg_1.png");
}

.bg-enrollment {
  background-image: url("assets/background/bg_2.png");
}

.swiper-slide img {
  width: 100%;
}

.swiper-pagination-bullet {
  border-radius: 50%;
  width: 22px;
  height: 22px;
  opacity: 0.5;
  background: #44417e;
  margin: 0 20px !important;
}
.swiper-pagination-bullet-active {
  background: #44417e;
  opacity: 1;
}

@media (max-width: 320px) {
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    margin: 0 10px !important;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    margin: 0 10px !important;
  }
}

@media (min-width: 480px) and (max-width: 1060px) {
  .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    margin: 0 10px !important;
  }
}

@media (min-width: 1060px) {
  .swiper-pagination-bullet {
    width: 22px;
    height: 22px;
    margin: 0 20px !important;
  }
}
